.step-string {
    color: rgb(150, 150, 150);
    font-weight: 600;
}
/* .step-content{
    height: 400px;
} */
.animation-scale {
    animation: scale-display .3s;
}
.progress-animation2{
    animation: progressbar2 1s ease-in-out;
}
.progress-animation3{
    animation: progressbar3 1s ease-in-out;
}
.progress-animation4{
    animation: progressbar4 1s ease-in-out;
}
.progress-animation5{
    animation: progressbar5 1s ease-in-out;
}
.progress-animation6{
    animation: progressbar6 1s ease-in-out;
}
.progress-animation7{
    animation: progressbar7 1s ease-in-out;
}
@keyframes progressbar2 {

    0% {
        width: 0%
    }

    100% {
        width: 20%
    }
}
@keyframes progressbar3{
    0% {
        width: 20%
    }

    100% {
        width: 40%
    }
}
@keyframes progressbar4{
    0% {
        width: 40%
    }

    100% {
        width: 60%
    }
}
@keyframes progressbar5{
    0% {
        width: 60%
    }

    100% {
        width: 80%
    }
}
@keyframes progressbar6{
    0% {
        width: 80%
    }

    100% {
        width: 100%
    }
}

@keyframes scale-display {
    0% {
        opacity: 0;
        transform: scale(0);
        -webkit-transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}

.btn-role-service{
    border-radius: 20px;
    border: 1px solid gray;
    padding: 20px;
}
.btn-role-service h4{
    color: gray;
    font-size: 1.5em;
}
.btn-role-service i{
    color: gray;
    font-size: 5em;
}
.btn-role-service:hover{
    background-color: rgb(3, 3, 3);
    border: white solid 1px;
    transition: 0.5s;
}
.btn-role-service:hover i, .btn-role-service:hover h4{
    color: white;
}
